# ESPHome build artifacts
components/geappliances_bridge/secrets.yaml
components/geappliances_bridge/.esphome/
__pycache__/
*.pyc

# Test build artifacts
build/

# IDE
.vscode/
.DS_Store

# CodeQL
_codeql_detected_source_root
